.axis_Diagram, .graduation_Diagram {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

svg {
    shape-rendering: crispEdges;
}

.axisArrow_Diagram {
    stroke: #444;
    fill: black;
    shape-rendering: auto;
}

.graphLine_Diagram {
    fill: none;
    stroke-width: 1.3;
}

.histogram_Diagram {
    stroke-width: 1.5;
}

.dashedLine_Diagram {
    stroke-dasharray: 8 2;
    stroke: #777;
}

.lightLine_Diagram {
    stroke: #999;
    stroke-width: 0.5;
}

.title_Diagram {
    text-anchor: middle;
}

.legendAxis_Diagram {
    text-anchor: end;
}
