section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

#led_div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#ledSwitch {
    width: 40px;
    height: 40px;
}

#led {
    border-radius: 50%;
    border: 1px black solid;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    margin: 20px;
}

#led.ledOn {
    background-color: greenyellow;
}

label {
    display: inline-block;
    width: 100px;
}

li {
    margin-bottom: 10px;
}

.button{
    background-color: rgb(60, 133, 65);
    border: none;
    padding: 6px 10px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    box-shadow: 0 0 5px #000;
}